<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(user) -%>">
  <span class='title'>
    <strong><%= user.username %></strong>
    <span class="preview">
      <%= t('.preview', :who => user.email, :created_at => l(user.created_at, :format => :short)) %>
    </span>
  </span>
  <span class='actions'>
    <%= mail_to user.email, refinery_icon_tag('email_go.png'),
                :title => t('.email_user') %>
    <%# link_to refinery_icon_tag("application_go.png"), site_user_url(site_user),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    <%= link_to refinery_icon_tag("application_edit.png"), edit_admin_user_path(user),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), admin_user_path(user),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'shared.admin.delete', :title => user.username),
        :method => :delete %>
  </span>
</li>

