- content_title "Resend Confirmation Instructions"

- content_for :body_content_left do
  = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
    = devise_error_messages!
    .field
      = f.label :email
      = f.text_field :email
    %p= f.submit "Resend"

- content_for :body_content_right do
  = render :partial => "users/shared/links"

= render :partial => "/shared/content_page"

